/* ----------- COLOR PALETTE -----------*/

@use '_colors' as *;

/* ---------------- ELSE ---------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	background: $color-eerie;
	overflow: hidden;
}
