/* ----------- COLOR PALETTE -----------*/

/* NUANCE COLOR PALETTE */
$color-eerie: #212121;
$color-jet: #323232;

/* PRIMARY COLOR PALETTE */
$color-turquoise: #48DAC3;
$color-aero: #60B5E7;
$color-lavender: #BB86FC;
$color-bitter: #FF6667;

/* SECONDARY COLOR PALETTE */
$color-mint: #A4EDE1;
$color-uranian: #B0DAF3;
$color-mauve: #DDC3FE;
$color-pinkish: #FFB3B3;

/* TERTIARY COLOR PALETTE */

$color-cornflower: #243B6D;