/* ----------- COLOR PALETTE -----------*/

@use 'Colors' as *;

/* -------------- GENERAL --------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
	font-family: Rotobo, sans-serif;
	font-size: 100%;
	background: $color-eerie;
}

/* GRADIENT */

@mixin gradient-text {
	background: linear-gradient(45deg, $color-mauve, $color-uranian, $color-mint);
	display: inline-block;
}

/* HEADERS */

h1 {
	@include gradient-text;

	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	text-align: center;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: white;
}

h3 {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: white;
}

/* DIVISIONS */

.slogan {
	background: transparent;
	text-align: center;	
	position: absolute;
	top: 50%;
	left : 5%;
	transform: translate(0, -50%);
}


.welcome {
	background: transparent;
	text-align: center;
	transform: translate(0, -50%);
}

.button {
	display: inline-block;
	height: 40px;
	padding: 0 16px;

	color: #48DAC3;
	font-weight: bold;
	font-size: 1rem;
	background: rgba(#41CF7C, 0.1);

	border-radius: 40px;
	border: none;
	outline: none;
	cursor: pointer;
}