* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
	font-family: sans-serif;

	background: #171933;
}

.button {
	display: inline-block;
	height: 40px;
	padding: 0 16px;

	color: #48DAC3;
	font-weight: bold;
	font-size: 1rem;
	background: rgba(#41CF7C, 0.1);

	border: none;
	border-radius: 40px;
	outline: none;
	cursor: pointer;
}
