/* STRANSCENDENCE COLORS */
$eerie : #212121; 
$jet : #323232;

$turquoise : #48DAC3;
$minth: #A4EDE1;

$aero : #60B5E7;
$uranina: #B0DAF3;

$lavender: #BB86FC;
$mauve: #DDC3FE;

$bettersweet: #FF6667;
$pinkish: #FFB3B3;

/* GLOBAL STYLE */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
	font-family: Roboto, sans-serif;
	background: #171933;
}

.button {
	display: inline-block;
	height: 40px;
	padding: 0 16px;

	color: #48DAC3;
	font-weight: bold;
	font-size: 1rem;
	background: rgba(#41CF7C, 0.1);

	border: none;
	border-radius: 40px;
	outline: none;
	cursor: pointer;
}
