/* ----------- COLOR PALETTE -----------*/

@use 'Colors' as *;

/* ---------- SLOGAN ELEMENTS ----------*/

.slogan {
	background: transparent;
	text-align: center;	
	position: absolute;
	top: 50%;
	left : 5%;
	transform: translate(0, -50%);
}

/* ------------- CONTAINER ------------ */

.container {
	/* Container dimentions */
	width: 47.5%;
	height: 90%;
	border-radius: 25px;
	position: absolute;
	top: 40px;
	left : 50%;	
	
	/* Transpary & blur */
	background-color: rgba(33, 33, 33, 0.8);
	backdrop-filter: blur(100px);
	
	/* Element position */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ------- PLANET - SHAPE ELEMENTS -------*/

@mixin planet_circle($width, $color) {
	width: $width;
	height: $width;
	background: $color;
	-webkit-border-radius: $width/2;
	   -moz-border-radius: $width/2;
			border-radius: $width/2;
}


/* ------- PLANET - WAVES ELEMENTS -------*/



/* ----------- PLANET ELEMENTS -----------*/

.planet {
	@include planet_circle(40px, $color-lavender);

	background: linear-gradient(135deg, $color-mauve, $color-lavender 100%);
}

/* ELSE */
.button {
	display: inline-block;
	height: 40px;
	padding: 0 16px;

	color: #48DAC3;
	font-weight: bold;
	font-size: 1rem;
	background: rgba(#41CF7C, 0.1);

	border-radius: 40px;
	border: none;
	outline: none;
	cursor: pointer;
}

