/* ----------- COLOR PALETTE -----------*/

@use 'Colors' as *;

/* ---------- LOGIN ELEMENTS -----------*/

.login {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0%;
	left: 0%;
}

/* --- HEADER: TITLE / CATCH-PHRASE ----*/

.header {
	width: 50%;
	height: 100%;

	position: relative;
	top: 0%;
	left: 0%;
}

.header_container {
	position: absolute;
	top: 50%;
	left: 50%;

	display: flex;
	flex-direction: column;
	text-align: center;

	transform: translate(-50%, -50%);
}

.header_h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-style: bold;
	font-size: 4.44vw;
	text-transform: uppercase;
	
	background: linear-gradient(90deg, $color_mauve 20.83%, $color_uranian 49.94%, $color_mint 80.3%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	z-index: 1;
	max-height: 78px;
}

.header_h3 {
	color: white;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 1.6vw;
	
	z-index: 1;
}

/* ----------- PAGE CONTENT ------------*/

.content {
	background: rgba(33, 33, 33, 0.8);
	backdrop-filter: blur(50px);
	
	width: 45%;
	height: 95%;
	border-radius: 25px;
	
	position: absolute;
	z-index: 500;
	top: 2.5%;
	right: 2.5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ----------- BUTTON ELEMENT ----------*/

.button {
	background-color: $color_eerie;
	border-radius: 25px;
	padding: 25px;
	border: none;
	outline: none;
	
	cursor: pointer;
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%, -60%);

	display: flex;
	justify-content: center;
	flex-direction: row;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2vw;
	font-weight: lighter;
	color: white;
	text-align: center;
}

.button_icon {
	width: 1.6vw;
	height: 1.6vw;
	margin: 0 10px;
}

.button_shadow {
	background-color: black;
	filter: blur(25px);
	border-radius: 25px;
	padding: 25px;
	border: none;
	outline: none;
	
	cursor: pointer;
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%, -60%);

	display: flex;
	justify-content: center;
	flex-direction: row;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2vw;
	font-weight: lighter;
	color: white;
	text-align: center;
}

/* ---------- WELCOME ELEMENT ----------*/

.welcome {
	top: 40%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%, -40%);

	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.welcome_to_pong {
	position: absolute;
	display: flex;
	justify-self: center;
	flex-direction: row;

	top: 0%;
	left: 25%;
	transform: translate(25%, 0%);
}

.welcome_pong {
	position: absolute;
	display: flex;
	justify-self: center;
	flex-direction: row;
}

.welcome_svg {
}

.welcome_h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 4.44vw; 
	text-transform: uppercase;
	color: white;
}

.welcome_text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 4.44vw; 
	color: white;
	margin: 4px;
}