/* ----------- COLOR PALETTE -----------*/

@use 'Colors' as *;

/* --------- MATCHING ELEMENTS -------- */

.matching {
	background-color: aqua;
    width: 50%;
    height: 50%;

	z-index: 1000;
	position: absolute;
	top: 50%;
	width: 50%;
	transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

    