/* ----------- COLOR PALETTE -----------*/

@use 'Colors' as *;

/* ----------- PLAY ELEMENTS -----------*/

.play {
	width: 80%;
	height: 90%;
	border-radius: 1.7vw;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	z-index: 1000;
}

/* ------------ HOME CONTENT ---------- */

.play_pong {
	background-color: rgba(33, 33, 33, 0.8);

	height: 100%;
	width: 100%;
	border-radius: 1.7vw;
	padding: 1.7vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.pong_header {
	// background-color: bisque;

	width: 100%;
	height: 10%;
	padding: 1.7vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pong_dashboard {
	width: 90%;
	height: 10%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pong_dashboard_user {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.pong_dashboard_opponant {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

/* ----------- TEXT ELEMENTS -----------*/

.h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-style: bold;
    font-size: 3.33vw;
    text-transform: uppercase;

    background: linear-gradient(90deg, $color_mauve 20.83%, $color_uranian 49.94%, $color_mint 80.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    z-index: 1;
    max-height: 5.42vw;
	padding: 1.7vw;
}

.h3 {
    color: white;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.25vw;

    z-index: 1;
}

.text {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25vw;
    margin: 0.52vw;
}
