/* ----------- COLOR PALETTE -----------*/

@use '../_colors' as *;

/* ----------- RANK ELEMENTS -----------*/

.authentification {
	width: 520px;
	height: auto;

	border-radius: 20px;
	padding: 20px;
	background-color: $color_widget;

	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;

	@media screen and (max-width: 768px) {
		width: calc(100% - 30px);
    }
}

.authentification_header {

	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;

	background: linear-gradient(
		135deg,
		$color_mauve 20.83%,
		$color_uranian 49.94%,
		$color_mint 80.3%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin settings_input($letter-spacing: auto, $text-indent: 0) {
	width: 150px;
	height: 40px;
	padding: 0 16px;
	margin: 10px 0;

	letter-spacing: $letter-spacing;
	text-indent: $text-indent;
	color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
	text-align: center;

	border: $color_eerie;
	border-radius: 10px;
	outline: none;
	background-color: $color_jet;

	&::placeholder { letter-spacing: 0; text-indent: 0; }
}

.settings_feature_input_code {
	@include settings_input(10px, 10px);
}
